.App {
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  min-width: 375px;
  //min-height: 500vh;
  margin: 0 auto;
  text-align: center;
  min-height: 200vh;




  //background-color: hsl(218, 28%, 13%);

  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 26%, 24%);
}