.footer {
    min-width: 375px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;



    background-color:  hsl(233, 26%, 24%);

    display: flex;
    flex-direction: column;
}

.footer__wrapLogo {
   margin: 20px 0px;

}

.footer__btnRequestInvite {
    align-self: center;
    margin: 20px 0px;
}

.footer__infoCopy {
    margin: 20px 0px;
}