.footerNavigation{
    margin: 20px 0px;

    @media (min-width: 992px) {
        margin: 0;
        padding: 0;
    }

    &__ul {
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 40px 0 40px;
            padding: 0;
            text-align: left;
            justify-content: space-between;
        }
    }

    &__li{
        padding: 10px;
        list-style: none;
        cursor: pointer;

        @media (min-width: 992px) {
            width: 50%;
            margin: 0;
            padding: 0 0 0 60px;
        }
    }

    &__link {
        color: hsl(220, 16%, 96%);
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            color: hsl(136, 65%, 51%);
        }
    }

    &__liPosition0{
        @media (min-width: 992px) {
            order: 1;
        }
    }

    &__liPosition1{
        @media (min-width: 992px) {
            order: 3;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }

    &__liPosition2{
        @media (min-width: 992px) {
            order: 5;
        }
    }

    &__liPosition3{
        @media (min-width: 992px) {
            order: 2;
        }
    }

    &__liPosition4{
        @media (min-width: 992px) {
            order: 4;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }

    &__liPosition5{
        @media (min-width: 992px) {
            order: 6;
        }
    }
}

