.header {
    /*height: 700px;*/
    min-width: 375px;
    max-width: 900px;
    width: 100%;
    /*width: 600px;*/
    /*padding: 0 40px;*/
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;

  /*background-color: hsl(220, 16%, 96%);*/

    background: hsl(0, 0%, 98%) url("../img/bg-intro-mobile.svg") no-repeat right -30px;



    /*border: aquamarine 2px solid;*/

}

.header__wrapIllustration {
    overflow: hidden;
    margin: 0 auto;
    width: 98%;

    /*max-width: 480px;*/
//align-self: center;




}

.header__illustration {
    width: 100%;
    margin-top: -120px;
/*//height: 100%;*/

}


.header__text {
margin: 20px;





/*//@media (min-width: 520px) {*/
/*//  padding-bottom: 40px;*/
/*//  margin-top: 40px;*/
/*//*/
/*//}*/


}

.header__title {
    margin-bottom: 20px;

}

.titleAll {
    font-size: 35px;
    font-weight: 400;
}


.header__paragraph {
    /*letter-spacing: 1px;*/


}
.paragraphAll {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    line-height: 25px;
}

.header__btnGetStarted {
    margin: 40px 0;

}

.btnAll {
    background:  linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    border-color: transparent;
    border-radius: 50px;

    height: 60px;
    width: 200px;
    padding: 0 20px;

    font-size: 16px;
//line-height: 20px;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.btnAll:hover {

    opacity: 70%;
}