.navigation {
  height: 60px;
  align-self: center;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;

  @media (min-width: 992px) {
    max-width: 1440px;
    padding: 0px 60px;
  }

  &__wrapLogo {
    height: 25px;
    margin-left: 20px;
    justify-self: flex-start;
  }

  &__logo {
    height: 100%;
  }

  &__wrapIconNavigation {
    height: 25px;
    margin-right: 20px;
    justify-self: flex-end;
    flex-grow: 1;
    text-align: right;
  }
}

.iconNavigation {
  height: 100%;
}

.navigation__btnRequestInvite {
  @media (min-width: 992px) {
    justify-self: flex-end;
    align-self: center;
    height: 40px;
    margin-right: 20px;
  }
}
