* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

@import "App";
@import "BasicStyle";
@import "Footer";
@import "FooterIcons";
@import "FooterNavigation";
@import "Header";
@import "LatestArticles";
@import "NavigationMain";
@import "NavigationMainBig";
@import "NavigationMainSmall";
@import "WhyChoose";



